
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #1D1D1D;
    --text-color: #E1E1E1;
    --dark-bg: #0F0F0F;
}
body {
    font-family: Poppins;
}

.logo {
    font-family: Poppins;
    letter-spacing: -0.05em;
    font-size: 32px;
}

footer ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px){
    #navbar-default:not(.hidden) { 
        position: fixed;	
        top: 80px;	
        left: 0px;
        background-color: var(--dark-bg);
    }
}
body { padding-bottom: 64px; }